{% extends 'layout.html' %}
{% with title='contact' %} {% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 border p-4 rounded shadow-sm bg-light">
                <h2 class="text-center mb-4">Contact Information</h2>
                <p class="text-muted text-center">Formu doldurarak bana ulaşabilirsiniz.</p>

                <form>
                    <div class="mb-3">
                        <label class="form-label">Your Name:</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Your Message:</label>
                        <textarea class="form-control" name="message" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% endwith %}