{% extends 'layout.html' %}
{% load static %} {% with title='home' %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h1 class="myHeader">CV App</h1> </div>
</div>

<div class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Welcome to My Project</h1>
            <p class="col-md-8 fs-4">This project is developed using Django and Docker.</p>

            <div class="card shadow-sm" style="width: 18rem;">
                <img src="{% get_media_prefix %}me.jpg" class="card-img-top" alt="Profil Fotoğrafı">

                <div class="card-body">
                    <h5 class="card-title fw-bold">Bootstrap Card</h5>
                    <p class="card-text">This is a simple card component as requested in the instructions.</p>
                    <a href="/contact/" class="btn btn-primary">Go to Contact</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% endwith %}